#header {
    background-color: cyan;
    background-position: center;

    padding: 2%;
    margin: 2%;

    border:  5 px double greenyellow;
}

.h1 {
    text-align: left;
    margin-left: auto;
    margin-top: 10%;
    margin-top: 5%;
    color: crimson;
    font-style: italic;
    font-size: 45px;

}

.h2{

    color: black;
    font-size: 32px;

}

.ph{
    color: black;
    font-size: 20px;
}
