/* Stylesheet fot index.html */

/* A Basic CSS styling syntax looks likes this - 

selector {
    property1 : value1;
    property2 : value2;
    propertyX : valueX;
}
*/

/* Types of Selector */

/* 
    1. Element Selector : Changes properties of an entire element
    2. Id Selector : Selects a particualar Element based on its ID
    2. Class Selector : Selects a particualr class
*/


/* Element selector */
/* p {
    background-color: red;
} */

/* Id Selector */

/* #MainHeading {
    text-align: center;
}

#Head {
    background-color: black;
}

#body {
    font-family: Comic Sans MS;
    background-color: skyblue;

}

#Header {
    padding: 10%;
    margin: 5%;
    border: 0.5cm rgb(27, 151, 37) dotted;
} */

/* Class Selector */

/* .subheadings {
    font-style: italic;
    color: white;
    text-align: center;
} */

body {
    background-color: aqua;
    background-image:url(/img/bg.jpg);
    background-repeat: no-repeat;
    background-position: right top;
    background-attachment: fixed;

}

.nav {
    background: black;
}

.items {
    
} 

.item {
    background: blue;
}

li {
    color: yellow;
}

.border {
    border-style: solid;
    border-width: 5px;
    /* border-top-style: dotted; */
    border-color: red;
    border-radius: 10px;
    padding: 50px;
    margin: 50px;
    width: 50%;
    height: auto;
    text-align: center;
    outline: 3px solid black;
    color: white ;
    font-family: sans-serif;
    font-style: italic;
    font-size: 22px;

} 

.border a{
    text-decoration: none;
    font-style: oblique;
    text-transform: capitalize;
    letter-spacing: 1px;
}